body {
  background-image: url('/pics/default.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  text-shadow: 2px 2px 1px black;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  height: 100vh;
}

#weatherContainer {
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 5px black;
  padding: 50px;
  border-radius: 10px;
  position: absolute;
  visibility: hidden;
}

#weatherContainer h1 {
  margin: 5px;
  font-size: 3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#searchContainer {
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
}

#searchContainer input {
  width: 200px;
}

#searchContainer button {
  background-color: rgb(1, 159, 198);
}

.searchControl {
  box-shadow: 2px 20x 5px black;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

#weatherMain {
  display: block;
  margin-bottom: 20px;
}

#weatherMain div {
  display: inline-block;
}

#weatherDescriptionHeader {
  font-size: 1.9rem;
  vertical-align: 50%;
}

#temperature {
  font-size: 2rem;
  vertical-align: 40%;
  margin-right: 5px;
}

.bottomDetails {
  display: block;
  font-size: 1.3rem;
  text-align: right;
}

#windSpeed {
  margin-right: 10px;
}

hr {
  margin-bottom: 20px;
}
